*{
  line-height:25px ;
}
:root{
 color: #2EDB9E;
 color: #2EA7DB;
 color: #2EDBD9;
 color: #2EDB63;
 color: #2B6EDB;
}
body{
  margin:0px;
  background-color: #5CBBF7;
}
li{
  text-decoration: none;
  color:#1d1e20;
}
p{
 text-indent: 5px;
 
}
h1{
  text-align: center;
  color: #36F562;
  text-shadow: 1px 1px 6px black;
}
h2{
 padding: 0px 0px 0px 45px;
}
footer{
  background-color: black;
}
footer p {
  text-align: center;
  margin: auto;
  margin: 0px 0px -10px 0px;
  width: 0px 0px -10px -10px;
}
h2.name{
  color: #5CF75E;
  text-shadow: 2px 2px 6px black;
}
