*{
  padding: 0px;
  margin: 0px;
}
body{
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
}
h2{
  text-align: right;
  padding: 10px 10px 1px 0px;
  margin-bottom: 10px;
  display: block;
}
h1{
  height: 0px;
  text-align: center;
}
p#K{
margin-top: 434px;
padding-left: 10px;
width:1000px;
}
p#F{
  padding-left: 10px;
  width: 1000px;
  height: 0px;
}
p#titulo{
  text-align: center;
  line-height: 30px;
  padding-top: 10px;  
}
p#Fessora{
  text-align: left;
  width: 800px;
  height: 0px;
  padding-left: 250px;
}
