*{
  padding: 0px;
  margin: 0px;
}
:root{
 color: #57BDE6;
 color: #5763E6;
 color: #5790E6;
 color: #49E6E0;
 color: #7350E6;
}
body, html {
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background-color: #BDD9F2;
  height: 0px;
}
h2{
  text-align: right;
  padding: 10px 10px 1px 0px;
  margin-bottom: 10px;
  display: block;
  color: #253759;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
  max-width: 1366px;
  max-height: 651px;
}
h1{
  height: 0px;
  text-align: center;
  color: #1f2f52;
  text-shadow: 1px 1px 2px black;
  font-size: 40px;
  max-width: 1366px;
  max-height: 651px;
}
p#K{
  margin-top: 418px;
padding-left: 10px;
width:1000px;
color: black;
max-width: 1366px;
max-height: 651px;
}
p#F{
  padding-left: 10px;
  width: 1000px;
  height: 0px;
  color: black;
  max-width: 1366px;
  max-height: 651px;
}
p#Fessora{
  text-align: left;
  width: 800px;
  height: 0px;
  padding-left: 250px;
  color: black;
  max-width: 1366px;
  max-height: 651px;
}
p#titulo{
  text-align: center;
  line-height: 30px;
  padding-top: 10px; 
  color:black;
  font-size: 18px;
  max-width: 1366px;
  max-height: 615px;
}
a{
  margin-left: 1280px;
 text-decoration: none;
 width: 0px;
 height: 0px;
 max-width: 1366px;
 max-height: 615px;
 color: blue;
}
a:hover{
text-decoration: underline;
}
p#data{
  width: 0px;
  height: 0px;
  color: white;
  background-color: black;
  width: 666px;
  padding-left:700px;
  height: 19px;
}
p#data:hover{
  color: gray;
}
abbr{
  text-decoration: none;
}