*{
  padding: 0px;
  margin: 0px;
}
body{
  margin: 0px;
  padding: 0px;
}
h2{
  text-align: right;
  padding: 10px 10px 1px 0px;
  margin-bottom: 10px;
  display: block;
}
h1{
  height: 0px;
  text-align: center;
}
p#name{
  font-size:18.72px;
  font-weight: bold;
  text-align: center;
  margin-top: 230px;
  margin-right: 1000px;
  height: 0px;
  width: 10px;
  margin-left:135px ;
}
p#K{
  height: 0px;
  text-align: right;
  margin-right: 984px;
  margin-top: 3px;
  margin-left: 190px;
}
p#F{
  margin-top: 30px;
  padding-left: 135px;
  font-weight: bold;
  font-size:18.72px;
  width: 0px;
  height: 0px;

}
p#another
{
  padding-left: 177px;
  width: 200px;
  height: 0px;
  text-align: right;
  margin-bottom: 30px;
}
p#disciplina{
  margin-left: 133px;
  width: 0px;
  height: 0px;
}
p#ano{
  margin-left: 260px;
}
p#fessora{
  margin-left: 133px;
}
p#titulo{
  text-align: center;
}
